/* Rodapé com ícones */
footer {
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

/* links do rodapé */
footer a {
    display:inline-block;
    margin:0 10px;
}

/* imagens Instagram e TikTok */
.rodapé-imagem {
    width:15px;   /* diminui o tamanho */
    height:15px;
    object-fit:contain;
    transition:0.3s;
}

/* efeito ao passar o mouse */
.rodapé-imagem:hover {
    transform:scale(1.2);
}